.row.bottom-10
  .span8
    %h2 Projects
    = render 'projects/projects'
    = link_to 'New Project', new_project_path, :class => "btn"
.row.bottom-10
  .span8
    %h2 Sites
    = render 'sites/sites'
    = link_to 'New Site', new_site_path, :class => "btn"
.row.bottom-10
  .span8
    %h2 Weather Events
    = render 'weather_events/weather_events'
    = link_to 'New Weather event', new_weather_event_path, :class => "btn"
.row.bottom-10
  .span8
    %h2 Inspection Events
    = render 'inspection_events/inspection_events'
    = link_to 'New Inspection event', new_inspection_event_path, :class => "btn"