- if current_user
  #current_weather.widget.bottom-10
    .inner
      %h5 Weather Report
      %hr
        - unless @projects.blank?
          - @projects.each do |project|
            - project.sites.each do |site|
              .cf
                - site.chance_of_rain # needs to be called before site.rain_state in order for rain state to show up
                %div{ :class => "sprites weather-#{site.rain_state}", :rel => "tooltip", :title => "Rain state for this site is #{site.rain_state}"}
                .span
                  %i=link_to "#{site.name}: ", project_site_path(project, site)
                  = "#{site.max_rain}% chance of rain"
        - else
          No active projects, start one by clicking 'new project'.
  #current_action_items.widget.bottom-10
    .inner
      %h5
        Pending Inspections
      %hr
        - @pending_ie.each do |ie|
          = link_to "#{ie.inspection_type} for #{ie.inspection_date}", edit_inspection_event_path(ie)
          /- link_to ie.inspection_type, edit_inspection_event_path
        -# unless @pending_ie.blank?
          - @pending_ie.each do |ie|
            - if ie.completed == false
              = link_to "#{ie.inspection_type} for #{ie.inspection_date}", edit_inspection_event_path(ie)
            - else
              No pending inspections.
            %br
        -# else
          No pending inspections.
  #current_action_items.widget.bottom-10
    .inner
      %h5
        Pending Reports
      %hr
        - unless @pending_reports.blank?
          - @pending_reports.each do |report|
            = link_to "Report for #{report.site.name}", edit_report_path(report)
        - else
          No pending reports.
  #current_daily_diary.widget.bottom-10
    .inner
      = render 'dashboard/report_links'
