- if current_user
  #current_weather.widget.bottom-10
    .inner
      %h5 Weather Report
      %hr
      %ul
        -# unless current_user.projects.blank?
          - current_user.projects.each do |project|
            - project.sites.each do |site|
              %li.cf
                - site.chance_of_rain # needs to be called before site.rain_state in order for rain state to show up
                %div{ :class => "sprites weather-#{site.rain_state}", :rel => "tooltip", :title => "Rain state for this site is #{site.rain_state}"}
                .span
                  %i=link_to "#{site.name}: ", project_site_path(project, site)
                  = "#{site.max_rain}% chance of rain"
        -# else
          Looks like you have no active projects.
          %br
          Start one by clicking 'new project'.
  #current_action_items.widget.bottom-10
    .inner
      %h5
        Pending Inspections
      %hr
        - unless @inspection_events.empty?
          - @inspection_events.each do |inspection_event|
            = link_to "#{inspection_event.inspection_type} for #{inspection_event.inspection_date}", edit_inspection_event_path(inspection_event)
            %br
        - else
          You have no pending inspections.
  #current_action_items.widget.bottom-10
    .inner
      %h5
        Pending Reports
      %hr
        -# unless @needs_attention_reports.empty?
          - @needs_attention_reports.each do |report|
            = link_to "Report for #{report.site.name}", edit_report_path(report)
        -# else
          You have no pending reports.
  #current_daily_diary.widget.bottom-10
    .inner
      %h5
        Report Forms
      %hr
      Please use the Chrome
      = link_to 'browser', 'http://www.google.com/intl/en/chrome/browser/'
      to save data in forms below:
      %br
      %br
      = link_to 'CEM 2030 Weekly Inspection Report', pdf_CEM2030_path
      %br
      = link_to 'CEM 2034 Corrective Action Report', pdf_CEM2034_path
      %br
      = link_to 'CEM 2035 BMP Status Report', pdf_CEM2035_path
      %br
      = link_to 'CEM 2040 Weather Forecast Report', pdf_CEM2040_path
      %br
      = link_to 'CEM 2045 REAP Report', pdf_CEM2045_path
      %br
      = link_to 'CEM 4601 Daily Report', pdf_CEM4601_path
