- if current_user
  #current_weather.widget.bottom-10
    .inner
      %h5 Weather Report
      %hr
        - unless @projects.blank?
          - @projects.each do |project|
            - project.sites.each do |site|
              .cf
                - site.chance_of_rain # needs to be called before site.rain_state in order for rain state to show up
                %div{ :class => "sprites weather-#{site.rain_state}", :rel => "tooltip", :title => "Rain state for this site is #{site.rain_state}"}
                .span
                  %i=link_to "#{site.name}: ", project_site_path(project, site)
                  = "#{site.max_rain}% chance of rain"
        - else
          No active projects
  #current_action_items.widget.bottom-10
    .inner
      %h5
        Pending Inspections
      %hr
        - unless @pending_ie.blank?
          - @pending_ie.each do |ie|
            = link_to "Inspection for #{ie.site.name} on #{ie.inspection_date}", edit_inspection_event_path(ie)
        - else
          No pending inspections
  #current_action_items.widget.bottom-10
    .inner
      %h5
        Pending Reports
      %hr
        - unless @pending_reports.blank?
          - @pending_reports.each do |report|
            = link_to "Report for #{report.site.name}", edit_report_path(report)
        - else
          - 'No pending reports'
  #current_daily_diary.widget.bottom-10
    .inner
      = render 'dashboard/report_links'
