- if current_user
  #current_weather.widget.bottom-10
    .inner
      %h5 Weather Report
      %hr
      %ul
        - current_user.projects.each do |project|
          - project.sites.each do |site|
            %li.cf
              / - site.chance_of_rain # not sure why, but this needs to be called before site.rain_state in order for rain state to show up
              %div{ :class => "sprites weather-#{site.rain_state}", :rel => "tooltip", :title => "Rain state for this site is #{site.rain_state}"}
              .span
                %i=link_to "#{site.name}: ", project_site_path(project, site)
                = "#{site.max_rain}% chance of rain"
  #current_action_items.widget.bottom-10
    .inner
      %h5 
        Pending Reports
      %hr
      = link_to "9-30-12 CEM 2030 Weekly Inspection Report", new_report_path
      %hr
      - unless @needs_attention_reports.empty?
        - @needs_attention_reports.each do |report|
          = link_to "Report for #{report.site.name}", edit_report_path(report)
      - else
        You have no pending reports.
  #current_daily_diary.widget.bottom-10
    .inner
      %h5 
        Report Forms 
      %hr
      = link_to "CEM 2023 Weekly Training"
      %br
      = link_to "CEM 2024 Training Attendance Log"
      %br
      = link_to "CEM 2030 Weekly Inspection Report", new_report_path
      %br
      = link_to "CEM 2034 BMP Status Report"
      %br
      = link_to "CEM 2035 Corrective Action Report"
      %br
      = link_to "CEM 2040 Weather Forecast Log"
      %br
      = link_to "CEM 2050 Sampling Record Report"
      %br
      = link_to "CEM 2051 Sampling Result Report"
      %br
      = link_to "CEM 2061 Notice of Discharge Report"
      %br
      = link_to "CEM 2070 Annual Certification"
