%table
  %tr
    - @projects.each do |project|
      %h3
        = "Project: #{project.name}"

      - project.sites.each do |site|
        %tr
          %th
            = "Site: #{site.name}, "
            = "Zipcode: #{site.zipcode}"
          %th
        %tr
          %th
            Date
          %th
            Forecast

          - zipcode = site.zipcode
          - nf = NOAAForecast.new(zipcode)
          - @forecast = nf.forecast_by_zipcode(zipcode)
          - @forecast.each do |f|
            %tr
              %td
                = f[:date]
              %td
                = f[:weather]
