%table
  %tr
    - @projects.each do |project|
      = "Project: #{project.name}"

      - project.sites.each do |site|
        %br
          = "Site: #{site.name}"

        %th
          Date
        %th
          Forecast
        - @forecast.each do |f|
          %tr
            %td
              = f[:date]
            %td
              = f[:weather]
