%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %p
        Here are the current stats of the application:

      %table.projects
        %tr
          %th Projects
          %th Users
          %th Sites
          %th Inspections
          %th Reports
        %tr
          %td
            = @numprojects
          %td
            = @numusers
          %td
            = @numsites
          %td
            = @numinspections
          %td
            = @numreports
      %hr