%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Weekly Project Status
      %p
        = @greeting
      %p
        Here are your pending tasks below.
      %p
        = @salutation
      %h2
        Pending Reports
      %p
        - unless @reports.blank?
          - @reports.each do |report|
            %li= "Report for #{report.created_at}"
        - else
          No pending reports
      %h2
        Pending Inspections
      %p
        - unless @pending_ie.blank?
          - @pending_ie.each do |ie|
            = link_to "#{ie.inspection_type} for #{ie.site.name} on #{ie.inspection_date}", edit_inspection_event_path(ie)
        - else
          No pending inspections
