%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Daily Site POP Alert
      %p
        = @greeting
      %p
        Here are your pending reports:
      %p
        - unless @reports.blank?
          - @reports.each do |report|
            %li= "Report for #{report.created_at}"
        - else
          No pending reports.
      %p
        = @salutation
      %hr
      %p
        = render 'mailout_forecast', :projects => @projects
