= @greeting
%p
  This the pester admin email, letting you
  know that Storm Savvy is up and running.
%p
  Here is a list of your projects:
%table.projects
  %tr
    %th Projects
    %th Users
    %th Sites
  %tr
    %td
      = @numprojects
    %td
      = @numusers
    %td
      = @numsites

%hr

%table.forecast
  %tr
    %th 
      Forecast
  %tr
    %td 
      = @forecast
      / = @print_forecast

%hr
