%table{ :style => "width: 100%;" }
  %tr
    %td
      = render 'pester_intro_block'

      %p
        Here is a list of your projects:

      %table.projects
        %tr
          %th Projects
          %th Users
          %th Sites
        %tr
          %td
            = @numprojects
          %td
            = @numusers
          %td
            = @numsites

      %hr

      %table.forecast
        %tr
          %th Forecast
        %tr
          %td
            = @print_forecast

      %hr
