= form_for(@sampling_event) do |f|
  - if @sampling_event.errors.any?
    #error_explanation
      %h2
        = pluralize(@sampling_event.errors.count, "error")
        prohibited this friend from being saved:
      %ul
        - @sampling_event.errors.full_messages.each do |msg|
          %li= msg

  %h4
    Instructions: Attach File & Complete Description Below
  %br
  .field
    /= f.label :attachment
    = f.file_field :attachment, class: 'button'
  %br
  .actions
    = f.submit 'Upload Attachment', class: 'button'
    = link_to 'Cancel', sampling_events_path
