= form_for(@inspection_event) do |f|
  - if @inspection_event.errors.any?
    #error_explanation
      %h2
        = pluralize(@inspection_event.errors.count, "error")
        prohibited this friend from being saved:
      %ul
        - @inspection_event.errors.full_messages.each do |msg|
          %li= msg

  %h3
    Instructions: Upload completed inspection report below.
  %br
  .field
    /= f.label :attachment
    = f.file_field :attachment, class: 'button'
  %br
  .actions
    = f.submit 'Upload Attachment', class: 'button'
    = link_to 'Cancel', inspection_events_path
