= form_for @inspection_event do |f|
  -if @inspection_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inspection_event.errors.count, "error")} prohibited this inspection_event from being saved:"
      %ul
        - @inspection_event.errors.full_messages.each do |msg|
          %li= msg

  %legend Inspection Event
  .span4
    .field
      = f.label :completed
      = f.check_box :completed
    .field
      = f.label :site_id
      = f.number_field :site_id
    .field
      = f.label :inspection_type
      = f.select :inspection_type, InspectionEvent::TYPES
    .field
      /= f.text_field :inspection_type
      = f.label :inspection_date
      = f.date_select :inspection_date
    .field
      = f.label :submitted_by
      = f.text_field :submitted_by
    .field
      = f.label :inspected_by
      = f.text_field :inspected_by
    .field
      = f.label :inspection_description
      = f.text_area :inspection_description
    .actions
      = f.submit 'Save'
      = link_to 'Back', inspection_events_path
    %br
