%table.table.table-condensed
  %tr
    = link_to 'New Inspection Event', new_inspection_event_path, :class => 'btn'
%table.table.table-condensed
  %tr
    %th Site ID
    %th Inspection Type
    %th Inspection Description
    %th Inspection Date
    %th Submitted By
    %th Inspected By
    %th
    %th

  - @inspection_events.each do |inspection_event|
    %tr
      %td= inspection_event.site_id
      %td= inspection_event.inspection_type
      %td= inspection_event.inspection_description
      %td= inspection_event.inspection_date
      %td= inspection_event.submitted_by
      %td= inspection_event.inspected_by
      %td= link_to 'Show', inspection_event
      %td= link_to 'Edit', edit_inspection_event_path(inspection_event)
      %td= link_to 'Destroy', inspection_event, :confirm => 'Are you sure?', :method => :delete