.span4
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!

  %h3 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .cf
      = f.label :email, 'Email'
      .input
        = f.email_field :email
    .cf
      = f.label :password, 'Password'
      .input
        = f.password_field :password
        / - if devise_mapping.rememberable?
        /   %p
        /     = f.check_box :remember_me
        /     = f.label :remember_me
    .actions
      = f.submit "Sign in", :class => "btn"
    %h5
      Not a member?
      = link_to 'Sign up', new_user_registration_path
