%h4
  Please use the Chrome
  = link_to 'browser', 'http://www.google.com/intl/en/chrome/browser/'
  to save data in forms below.
%br
  = link_to 'Show', pdf_CEM2030_path, :class => "btn btn-primary"
  CEM 2030 Weekly Inspection Report
%br
  = link_to 'Show', pdf_CEM2034_path, :class => "btn btn-primary"
  CEM 2034 Corrective Action Report
%br
  = link_to 'Show', pdf_CEM2035_path, :class => "btn btn-primary"
  CEM 2035 BMP Status Report
%br
  = link_to 'Show', pdf_CEM2040_path, :class => "btn btn-primary"
  CEM 2040 Weather Forecast Report
%br
  = link_to 'Show', pdf_CEM2045_path, :class => "btn btn-primary"
  CEM 2045 REAP Report
%br
  = link_to 'Show', pdf_CEM4601_path, :class => "btn btn-primary"
  CEM 4601 Daily Report
