%h3
  Instructions: Select From Forms Below
%p
  = link_to 'Show', pdf_CEM2030_path, :class => "btn btn-primary"
  Weekly Inspection Report, CEM 2030
%p
  = link_to 'Show', pdf_CEM2034_path, :class => "btn btn-primary"
  Corrective Action Report, CEM 2034
%h4
  = link_to 'Show', pdf_CEM2035_path, :class => "btn btn-primary"
  BMP Status Report, CEM 2035
%h4
  = link_to 'Show', pdf_CEM2040_path, :class => "btn btn-primary"
  Weather Forecast Report, CEM 2040
%h4
  = link_to 'Show', pdf_CEM2045_path, :class => "btn btn-primary"
  REAP Report, CEM 2045
%h4
  = link_to 'Show', pdf_CEM4601_path, :class => "btn btn-primary"
  Daily Report, CEM 4601
