#homeContent
  .row
    .span12

      = render 'shared/cta-bar'

      #featureImages.bottom-10
        .row
          .span2
            = image_tag "/assets/legos-140.jpg"
          .span10
            %h3 Easy as 1-2-3
            %p Setup your site, check for alerts and report online.
        .row
          .span2
            = image_tag "/assets/alerts-140.jpg"
          .span10
            %h3 Instant Alerts
            %p Always be up to speed with email/SMS alerts when reports and inspections are due
        .row
          .span2
            = image_tag "/assets/data-140.jpg"
          .span10
            %h3 Real-Time Weather Data
            %p Track your site more closely with forecasts and climate data

      = render 'shared/cta-bar'
