#homeContent
  .row
    .span12

      = render 'shared/cta-bar'

      #featureImages.bottom-10
        .row
          .span2
            = image_tag "/assets/legos-140.jpg"
          .span10
            %h3 Easy as 1-2-3
            %p Setup Your Site. Check For Alerts. Report Online.
        .row
          .span2
            = image_tag "/assets/data-140.jpg"
          .span10
            %h3 Real-Time Weather Data
            %p Geolocation NOAA Forecasts
        .row
          .span2
            = image_tag "/assets/alerts-140.jpg"
          .span10
            %h3 Instant Alerts (Coming Soon)
            %p Email Notifications Before Rain Events and Deadlines.

      = render 'shared/cta-bar'
