= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Project Details
      .cf
        = f.label :name
        .input
          = f.text_field :name
      .cf
        = f.label :description
        .input
          = f.text_area :description, :rows => "5"
      .cf
        = f.label :startdate
        .input
          = f.datetime_select :startdate
      .cf
        = f.label :finishdate
        .input
          = f.datetime_select :finishdate
      .cf
        = f.label :active
        .input
          = f.check_box :active
  %fieldset
    %legend
      Site Details



  .actions
    = f.submit 'Save', :class => "btn btn-primary"
