= simple_nested_form_for @project, :html => { :class => 'form-horizontal' } do |f|
  - if f.error_notification
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      = f.error_notification
  - flash.each do |name, msg|
    %h4 We got a flash in the form
    %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
      %a.close{"data-dismiss" => "alert"} ×
      -#= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      %p= msg
  %fieldset
    %legend Project Details
    .span5
      = f.input :name, :hint => "Name of this project"
      = f.input :description
    .span5
      = f.input :startdate, :as => :string, :input_html => { :class => 'datePicker' }
      = f.input :finishdate, :as => :string, :input_html => { :class => 'datePicker' }
      = f.input :active

  %fieldset
    %legend
      Project Sites
    = f.link_to_add "Add a new site", :sites
    .sitesWrapper
      = f.fields_for :sites do |site|
        .sitesInner
          .span5
            = site.input :name
            = site.input :description
            = site.input :costcode
          .span5
            = site.input :address_1
            = site.input :address_2
            = site.input :city
            = site.input :state, :as => :select, :collection => Carmen.states
            = site.input :zipcode, :as => :string
          .pull-right
            = site.link_to_remove "Remove this site"

  .form-actions
    = link_to "Cancel", projects_path, :confirm => "Are you sure you want to cancel?"
    |
    = f.submit
