.cf
  - @projects.each do |project|
    .project.closed{ :class=>"#{cycle('even','odd')}" }
      .cf.headline
        %h3.pull-left=project.name
        .small.more_details.pull-right
          =link_to "More Details"

      .more_details_box.is_hidden
        %ul
          %li
            %strong # of Sites:
            = project.sites.count
          %li
            %strong Last Updated:
            = project.updated_at
          %li
            %strong Last Event:
            = "Rain Event on 2012-3-1"

        = link_to "View Project", project


