.container
  .row
    .span10
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          /%a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      %h1 Editing project

      = render 'form'

      = link_to 'Show', @project
      \|
      = link_to 'Back', projects_path
