.container
  .row
    -# flash = { :error => 'Error message defined in the view =(' }
    - flash.each do |name, msg|
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
        /%a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
        /%p= msg
    -# notice = 'wtf?'
    -# if notice
      %h4 Got a notice
      %p#notice.alert.alert-success= notice
    .span10

      %h1 New Project
      = render 'form'
