.container
  .row
    .span8#project-attributes
      - if notice
        %p#notice.alert.alert-success= notice
      = link_to 'Delete This Project', project_path(@project), :method => :delete
      %h2 Project Page
      %p
        %b Name:
        = @project.name
      %p
        %b Description:
        = @project.description
      %p
        %b Start Date:
        = @project.startdate
      %p
        %b Finish Date:
        = @project.finishdate
      %p
        %b Active:
        = @project.active
      %p
        %b Sites
        - @project.sites.each do |site|
          = link_to site.name, project_site_path(@project, site)

      = link_to 'Edit', edit_project_path(@project)
      \|
      = link_to 'Back', projects_path
      \|
      = link_to 'Delete', project_path(@project), :method => :delete
