.container
  .row
    .span8#project-attributes
      -# if notice
        %p#notice.alert.alert-success= notice
      %h2 Project Information
      = button_to 'Delete This Project', project_path(@project), :method => :delete
      \|
      = link_to 'Edit', edit_project_path(@project)
      \|
      = link_to 'Back', projects_path
      %p
        %b Name:
        = @project.name
      %p
        %b Description:
        = @project.description
      %p
        %b Start Date:
        = @project.startdate
      %p
        %b Finish Date:
        = @project.finishdate
      %p
        %b Active:
        = @project.active
      %p
        %b Sites
        - @project.sites.each do |site|
          = link_to site.name, project_site_path(@project, site)
