%table
  - @user.sites.each do |site|

    /= pp @site_pop[0].class
    /= pp @site_pop[0][:name]

    %h3
      /= @site_pop[0][:name]
      = site.name
    %li
      %strong Site Zipcode:
      /= @site_pop[0][:zipcode]
      = site.zipcode
    %li
      %strong Site Lat/Long:
      /= @site_pop[0][:lat]
      = site.lat

      /= @site_pop[0][:long]
      = site.long
    %br
    %tr
      %th
        :plain
          Date
        - @forecast_table.each do |sub|
          - sub.each do |data|
            %br
              = data[:date]
      %th
        :plain
          Chance of Rain
        - @forecast_table.each do |sub|
          - sub.each do |data|
            %br
              = data[:weather]
              :plain
                %
      %th
        :plain
          Forecast Rain
        - @forecast_table.each do |sub|
          - sub.each do |data|
            %br
              = data[:rainfall]
              :plain
                "
    %tr
      %td
        /= f[:date]
      %td
        /= f[:weather]
        :plain
          %
      %td
        /= f[:rainfall]
        :plain
          "
