%table
  = pp @site_pop
  = pp @site_pop[0].class
  = pp @site_pop[0][:name]

  %h3
    = @site_pop[0][:name]
  %li
    %strong Site Zipcode:
    = @site_pop[0][:zipcode]
  %li
    %strong Site Lat/Long:
    = @site_pop[0][:lat]
    = @site_pop[0][:long]
  %br
  %tr
    %th
      Date
    %th
      Chance of Rain
    %th
      Forecast Rain
    %tr
      - for i in (0..27)
        %td
          /= f[:date]
          = @site_pop[i][:date]
        %td
          /= f[:weather]
          = @site_pop[i][:weather]
          :plain
            %
        %td
          /= f[:rainfall]
          = @site_pop[i][:rainfall]
          :plain
            "
