%table
  = pp @site_pop
  - @site_pop.each do |f|
    %h3
      = f[:name]
    %li
      %strong Site Zipcode:
      = f[:zipcode]
    %li
      %strong Site Lat/Long:
      = f[:lat]
      = f[:long]
    %br
    %tr
      %th
        Date
      %th
        Chance of Rain
      %th
        Forecast Rain
      %tr
      - @pop.each do |f|
        %td
          = f[:date]
        %td
          = f[:weather]
          :plain
            %
        %td
          = f[:rainfall]
          :plain
            "
