%table
  - @user.sites.each do |site|
    %h3
      = link_to "#{site.name}", "https://www.stormsavvy.com/#{site_path(site)}"
    %li
      %b Site Zipcode:
      = site.zipcode
    %li
      %b Site Lat/Long:
      = site.lat
      = site.long
    %li
      %b NOAA Forecast Table:
      %a{ href: @url }
        = site.zipcode
    %br
    %table
      %tr
        %th
          Date
        %th
          Chance of Rain
        %th
          Forecast Rain
        - site.forecast_table.each do |f|
          %tr
            %td
              = f[:date]
            %th
              -if f[:weather] == -999
                = f[:weather] = 0
              = f[:weather]
              :plain
                %
            %th
              -if f[:rainfall] == -999
                = f[:rainfall] = 0
              = f[:rainfall]
              :plain
                inch
