%table
  - @user.sites.each do |site|
    %h3
      = site.name
    %li
      %strong Site Zipcode:
      = site.zipcode
    %li
      %strong Site Lat/Long:
      = site.lat
      = site.long
    %li
      %strong NOAA Forecast Table:
      %a{ href: "http://www.wrh.noaa.gov/forecast/wxtables/index.php?lat=#{site.lat}&lon=#{site.long}&clrindex=0&table=custom&duration=7&interval=6" }
        = site.zipcode
    %br
    %tr
      %th
        :plain
          Date
        - @forecast_table.each do |sub|
          - sub.each do |data|
            %br
              = data[:date]
      %th
        :plain
          Chance of Rain
        - @forecast_table.each do |sub|
          - sub.each do |data|
            %br
              = data[:weather]
              :plain
                %
      %th
        :plain
          Forecast Rain
        - @forecast_table.each do |sub|
          - sub.each do |data|
            %br
              = data[:rainfall]
              :plain
                "
    %tr
      %td
        /= f[:date]
      %td
        /= f[:weather]
        :plain
          %
      %td
        /= f[:rainfall]
        :plain
          "
