%table
  %h3
    = @site.name
  %h3
    = @site.zipcode
  %li
    %strong Site Lat/Long:
    = @site.lat
    = @site.long
  %tr
    %th
      Date
    %th
      Chance of Rain
    - @pop.each do |f|
      %tr
        %td
          = f[:date]
        %td
          = f[:weather] + '%'
