%table
  %h3
    = @location1
  %tr
    %th
      Date
    %th
      Forecast
      /%th
      /Rainfall
    - @nf2.each do |f|
      %tr
        %td
          = f[:date]
        %td
          = f[:weather]
          /%td
          /= f[:rainfall]
%hr
%table
  %h3
    = @location2
  %tr
    %th
      Date
    %th
      Forecast
      /%th
      /Rainfall
    - @nf4.each do |f|
      %tr
        %td
          = f[:date]
        %td
          = f[:weather]
          /%td
          /= f[:rainfall]
%hr
%table
  %h3
    = @location3
  %tr
    %th
      Date
    %th
      Forecast
      /%th
      /Rainfall
    - @nf6.each do |f|
      %tr
        %td
          = f[:date]
        %td
          = f[:weather]
          /%td
          /= f[:rainfall]
%hr
%table
  %h3
    = @location4
  %tr
    %th
      Date
    %th
      Forecast
      /%th
      /Rainfall
    - @nf8.each do |f|
      %tr
        %td
          = f[:date]
        %td
          = f[:weather]
          /%td
          /= f[:rainfall]
