= stylesheet_link_tag "weathersnapper"

%h3
  Wunderground 7-Day Forecast
%table
  %tr.snapper
    %th
    %th Date
    %th POP
  %tbody
    - site.wg_table.each do |period|
      //- @forecastday.each do |period|
      %tr
        %td.icon
          <img src="#{period['icon_url']}" height="64" />
        %td.date
          - @dd.set_epoch((period['date']['epoch']).to_i)
          = "#{@dd.get_day('day')},"
          = @dd.get_date('date')
          = "#{@dd.get_month('month')}."
          = @dd.get_year('year')
        %td.pop
          = "#{period['pop']}"
