%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Storm Savvy Daily Mailer
      %p
        = @greeting
      %p
        Please see daily summary for your sites below.
      %p
        = @support
      %p
      %b
        = @salutation
      %p
      %hr
      %p
        = render 'forecast_warning'
      %p
        = render 'forecast_table'
