%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Storm Savvy Daily Mailer
      %p
        = @greeting
      %p
        Please see daily summary for your sites below.
      %p
        = @noaa_info
      %p
        = @noaa_website
        %a{ href: @noaa_url }
          NOAA Forecast Table
      %p
        = @support
      %p
      %b
        = @salutation
      %hr
      %p
        = render 'site_info'
        = render 'noaa_forecast_table'
