%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Daily Weather Forecast
      %p
        = @greeting
      %p
        Listed below are the daily weather forecasts for the East Bay:
      %p
        = @noaa_info
        %a{ href: @noaa_url }
          NWS Website
      %li
        = @location1
      %li
        = @location2
      %li
        = @location3
      %li
        = @location4
      %p
        = @support
      %p
        = @salutation
      %hr
      %p
        = render 'eastbay_forecast_table'
