Here is your NOAA forecast:
%ul
  - @user.sites.each do |site|
    %li.cf
      - site.chance_of_rain
      .span
      %div{ :class => "sprites weather-#{site.rain_state}", :rel => "tooltip", :title => "Rain state for this site is #{site.rain_state}"}
        %i=link_to "#{site.name}: ", site_path(site)
        = "#{site.max_rain}% chance of rain"
