%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        NOAA Daily Forecast
      %p
        = @greeting
      %p
        Here are the daily forecasts for your sites:
        %ul
          - @user.sites.each do |site|
            %li.cf
              - site.chance_of_rain
              .span
              %div{ :class => "sprites weather-#{site.rain_state}", :rel => "tooltip", :title => "Rain state for this site is #{site.rain_state}"}
                %i=link_to "#{site.name}: ", site_path(site)
                = "#{site.max_rain}% chance of rain"
      %p
        Here are the weekly forecasts for your sites:
      %p
        = @noaa_info
        %a{ :href=>"http://w1.weather.gov/xml/current_obs/" }
          weather.gov
      %p
        = @support
      %p
        = @salutation
      %hr
      %p
        = @pop
