= "#{greeting} #{@user.email},\n"

= "Here are your projects and forecasts:"

%table
  %tr.snapper
    %th Date
    %th POP
  %tbody
    - @user.projects.each do |p|
      - p.sites.each do |s|
        %tr
          %td.sitename
            = "#{s.name}"
          %td.pop
            = "#{s.forecast}"
