= form_for [@project, @site] do |f|
  -if @site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@f.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg

  .cf
    = f.label :name
    .input
      = f.text_field :name
  .cf
    = f.label :description
    .input
      = f.text_field :description
  .cf
    = f.label :costcode
    .input
      = f.text_field :costcode
  .cf
    = f.label :size
    .input
      = f.text_field :size
  .cf
    = f.label :exposed_area
    .input
      = f.text_field :exposed_area

  .control-group
    =f.label :address_1, :class => "control-label"
    .controls
      = f.text_field :address_1

  .control-group
    =f.label :address_2, :class => "control-label"
    .controls
      = f.text_field :address_2

  .control-group
    =f.label :city, :class => "control-label"
    .controls
      = f.text_field :city

  .control-group
    =f.label :state, :class => "control-label"
    .controls
      = f.select :state, Carmen.states, {:include_blank => true}, :selected => f.object.state

  .control-group
    =f.label :zipcode, :class => "control-label"
    .controls
      = f.text_field :zipcode

  .actions
    = f.submit 'Save', :class => "btn"