= form_for @site do |f|
  -if @site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@f.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @site.errors.full_messages.eme ach do |msg|
          %li= msg
  %h3
    Summary
  .cf
    = f.label :name
    .input
      = f.text_field :name, id:"name"
  .cf
    = f.label :project_ea
    .input
      = f.text_field :project_ea
  .cf
    = f.label :costcode, 'Project costcode'
    .input
      = f.text_field :costcode
  .cf
    = f.label :description, 'Project description'
    .input
      = f.text_field :description

  .control-group
    = f.label :address_1, 'Site address 1', :class => "control-label"
    .controls
      = f.text_field :address_1
  .control-group
    = f.label :address_2, 'Site address 2', :class => "control-label"
    .controls
      = f.text_field :address_2
  .control-group
    = f.label :city, :class => "control-label"
    .controls
      = f.text_field :city
  .control-group
    = f.label :state, :class => "control-label"
    :plain
      (abbreviation, e.g. CA)
    .controls
      = f.text_field :state
      /= f.select :state, Carmen.states, {:include_blank => true}, :selected => f.object.state
  .control-group
    = f.label :zipcode, :class => "control-label"
    .controls
      = f.text_field :zipcode, id:"zipcode"

  %h3
    Site Data
  .cf
    = f.label :risk_level
    .input
      = f.text_field :risk_level
  .cf
    = f.label :wdid_number
    .input
      = f.text_field :wdid_number
  .cf
    = f.label :construction_phase
    .input
      = f.text_field :construction_phase
  .cf
    = f.label :total_area
    :plain
      (decimal e.g. 0.50)
    .input
      = f.text_field :total_area
  .cf
    = f.label :total_dsa
    :plain
      (decimal e.g. 0.50)
    .input
      = f.text_field :total_dsa
  .cf
    = f.label :current_dsa
    :plain
      (decimal e.g. 0.50)
    .input
      = f.text_field :current_dsa
  .cf
    = f.label :inactive_dsa
    :plain
      (decimal e.g. 0.50)
    .input
      = f.text_field :inactive_dsa
  .cf
    = f.label :time_since_last_storm
    .input
      = f.text_field :time_since_last_storm
  .cf
    = f.label 'Precipitation Received During Last Storm'
    :plain
      (decimal e.g. 0.50)
    /= f.label :precipitation_received
    .input
      = f.text_field :precipitation_received
  %h3
    Contractor Information
  .cf
    = f.label 'Contractor Name'
    /= f.label :contractor_name
    .input
      = f.text_field :contractor_name
  .cf
    = f.label 'Contractor Address 1'
    /= f.label :contractor_address_1
    .input
      = f.text_field :contractor_address_1
  .cf
    = f.label 'Contractor Address 2'
    /= f.label :contractor_address_2
    .input
      = f.text_field :contractor_address_2
  .cf
    = f.label 'Contractor City'
    /= f.label :contractor_city
    .input
      = f.text_field :contractor_city
  .cf
    = f.label 'Contractor State'
    /= f.label :contractor_state
    .input
      = f.text_field :contractor_state
  .cf
    = f.label 'Contractor Zipcode'
    /= f.label :contractor_zipcode
    .input
      = f.text_field :contractor_zipcode

  %h3
    WPCM/QSP Information
  .cf
    = f.label 'WPCM Name'
    /= f.label :wpcm_name
    .input
      = f.text_field :wpcm_name
  .cf
    = f.label 'WPCM Company'
    /= f.label :wpcm_company
    .input
      = f.text_field :wpcm_company
  .cf
    = f.label 'WPCM Phone Number'
    /= f.label :wpcm_phone
    .input
      = f.text_field :wpcm_phone
  .cf
    = f.label 'WPCM Emergency Phone Number'
    /= f.label :wpcm_emergency_phone
    .input
      = f.text_field :wpcm_emergency_phone
  .cf
    = f.label 'QSP Name'
    /= f.label :qsp_name
    .input
      = f.text_field :qsp_name
  .cf
    = f.label 'QSP Company'
    /= f.label :qsp_company
    .input
      = f.text_field :qsp_company
  .cf
    = f.label 'QSP Phone Number'
    /= f.label :qsp_phone
    .input
      = f.text_field :qsp_phone
  .cf
    = f.label 'QSP Emergency Phone Number'
    /= f.label :qsp_emergency_phone
    .input
      = f.text_field :qsp_emergency_phone
  %h3
    Weekly Report Status
  .cf
    = f.label 'Permits'
    /= f.label :permits
    .input
      = f.text_field :permits
  .cf
    = f.label 'Resident Engineer Name'
    /= f.label :resident_engineer_name
    .input
      = f.text_field :resident_engineer_name
  .cf
    = f.label 'Structures Representative Name'
    /= f.label :structures_representative_name
    .input
      = f.text_field :structures_representative_name
  .cf
    = f.label 'Last BMP Status Report Date (CEM 2034)'
    /= f.label :last_bmp_status
    .input
      = f.date_select :last_bmp_status
  .cf
    = f.label 'Last Weekly Inspection Date (CEM 2030)'
    /= f.label :last_inspection
    .input
      = f.date_select :last_inspection
  .cf
    = f.label 'Last Corrective Action Report Date (CEM 2035)'
    /= f.label :last_corrective_action
    .input
      = f.date_select :last_corrective_action
  .cf
    = f.label 'Last REAP Report Date (CEM 2045)'
    /= f.label :last_reap
    .input
      = f.date_select :last_reap
  .cf
    = f.label 'Last Training Report Date (CEM 2023/24)'
    /= f.label :last_training
    .input
      = f.date_select :last_training
  .cf
    = f.label 'Last Weather Forecast Date (CEM 2040)'
    /= f.label :last_weather_forecast
    .input
      = f.date_select :last_weather_forecast
  .cf
    = f.label 'Last Rain Event Sampling Date (CEM 2051/52)'
    /= f.label :last_sampling
    .input
      = f.date_select :last_sampling

  .actions
    = f.submit 'Save', :class => "btn"
    = link_to 'Back', sites_path
