= form_for @site do |f|
  -if @site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :costcode
    = f.text_field :costcode
  .field
    = f.label :size
    = f.text_field :size
  .field
    = f.label :exposed_area
    = f.text_field :exposed_area
  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.submit 'Save'
