%table
  %tr
    %th
      Date
    %th
      Chance of Rain
    %th
      Forecast Rain
      %tr
    - @site.forecast_table.each do |f|
        %td
          = f[:date]
        %th
          -if f[:weather] == -999
            = f[:weather] = 0
          = f[:weather]
          :plain
            %
        %th
          -if f[:rainfall] == -999
            = f[:rainfall] = 0
          = f[:rainfall]
          :plain
            inch
