.cf
  / - site.chance_of_rain # needs to be called before site.rain_state in order for rain state to show up
  %div{ :class => "sprites weather-#{site.rain_state}", :rel => "tooltip", :title => "Rain state for this site is #{site.rain_state}"}
  .span
    %i=link_to "#{site.name}: ", project_site_path(site.project, site)
    = "#{site.chance_of_rain.pop}% chance of rain"
    /= "#{site.max_rain}% chance of rain"
