%table.table.table-condensed
  %tr
    %th Name
    %th Description
    %th Costcode
    %th Size
    %th Exposed area
    %th Location
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= site.name
      %td= site.description
      %td= site.costcode
      %td= site.size
      %td= site.exposed_area
      %td= site.location
      %td= link_to 'Show', site_path(site.id)
      /%td= link_to 'Show', project_site_path(site.project_id, site)
      %td= link_to 'Edit', edit_site_path(site.id)
      /%td= link_to 'Edit', edit_project_site_path(site.project_id, site)
      %td= link_to 'Destroy', site_path(site.id), data: { confirm: 'Are you sure?' }, :method => :delete
      /%td= link_to 'Destroy', project_site_path(site.project_id, site), :confirm => 'Are you sure?', :method => :delete
