.container
  .row
    .span8
      %h2 Site information
      %p#notice= notice
      %p
        %b Project:
        = link_to @site.project.name, project_path(@site.project)
      %p
        %b Site Name:
        = @site.name
      %p
        %b Description:
        = @site.description
      %p
        %b Costcode:
        = @site.costcode
      %p
        %b Size:
        = @site.size
      %p
        %b Exposed area:
        = @site.exposed_area
      %p
        %b Address 1:
        = @site.address_1
      %p
        %b Address 2:
        = @site.address_2
      %p
        %b City:
        = @site.city
      %p
        %b State:
        = @site.state
      %p
        %b Zipcode:
        = @site.zipcode

      = link_to 'Edit', edit_project_site_path(@site.project, @site)
      \|
      = link_to 'Back', project_path(@site.project_id)
      \|
      = link_to 'Delete', project_path(@site.project), :method => :delete

    .span2
    %br
      = render 'sites/weather_report'
