%h2
  Site Information
%p#notice
  /= notice
  = button_to 'Delete This Site', site_path(@site), :method => :delete
  = link_to 'Edit', edit_site_path(@site)
  \|
  = link_to 'Back', site_path(@site.id)
  .container
    .row
      .span8
        %h3
          Site Map
        %p
          = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@site.lat}%2C#{@site.long}"
        %p
          = render 'site_info'
        %h3
          7-Day Forecast
        %p
          = render 'noaa_forecast_table'
