%table.table.table-condensed
  %tr
    = link_to 'New Report', new_report_path, :class => 'btn'
%table.table.table-condensed
  %tr
    %th Site ID
    %th Inspection Type
    %th Report ID
    %th Report Date
    %th Attachment URL
    %th
    %th
    %th
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.site_id
      %td= report.inspection_type
      %td= report.id
      %td= report.created_at

      - if report.attachment.url =~ /missing.png/
        %td= link_to 'Upload Attachment', edit_report_path(report)
      - else
        %td= link_to "#{report.attachment.url}", report.attachment.url

      /%td= report.attachment.url
      %td
      %td
      %td= link_to 'Show', report_path(report)
      %td= link_to 'Edit', edit_report_path(report)
      %td= link_to 'Destroy', report_path(report), data: { confirm: 'Are you sure?' }, :method => :delete
