.row
  .span12
    %h2 Edit Report
    = simple_nested_form_for @report do |f|
      .row
        .span4
          %fieldset#weather_conditions
            %legend Weather Conditions
            = f.collection_radio_buttons :weather_condition, [[:clear, 'Clear'] ,[:partly_cloudy, 'Partly Cloudy'], [:cloudy, 'Cloudy']], :first, :last
        .span4
          %fieldset#wind_conditions
            %legend Wind Conditions
            = f.collection_radio_buttons :wind_condition, [[:none, 'None'] ,[:lessthan5, 'Less than 5 mph'], [:greaterthan5, 'Greater than 5 mph']], :first, :last

        .span4
          %fieldset#precipitation_conditions
            %legend Precipitation Conditions
            = f.collection_radio_buttons :precipitation_condition, [[:misty, 'Misty'], [:light_rain, 'Light Rain'], [:rain, 'Rain'], [:heavy_rain, 'Heavy Rain'], [:hail, 'Hail'], [:snow, 'Snow']], :first, :last

      .row
        .span6
          %fieldset#construction_phase
            %legend Construction Phase
            = f.input :construction_phase, :input_html => { :value => @report.construction_phase }


      %fieldset#site_information
        %legend Site Information
        = f.input :site_information_name, :input_html => { :value => @report.site_information_name }
        = f.input :site_address_1, :input_html => { :value => @report.site_address_1 }
        = f.input :site_address_2, :input_html => { :value => @report.site_address_2 }
        = f.input :site_city, :input_html => { :value => @report.site_city }
        = f.input :site_state, :input_html => { :value => @report.site_state }
        = f.input :site_zipcode, :input_html => { :value => @report.site_zipcode }

      %fieldset#company_information
        %legend Company Information
        = f.input :contractor_name, :input_html => { :value => @report.contractor_name }
        = f.input :contractor_address_1, :input_html => { :value => @report.contractor_address_1 }
        = f.input :contractor_address_2, :input_html => { :value => @report.contractor_address_2 }
        = f.input :contractor_city, :input_html => { :value => @report.contractor_city }
        = f.input :contractor_state, :input_html => { :value => @report.contractor_state }
        = f.input :contractor_zipcode, :as => :string, :input_html => { :value => @report.contractor_zipcode }

      %fieldset#contract_information
        %legend Contract Information
        = f.input :contract_number, :input_html => { :value => @report.contract_number }
        = f.input :project_identifier_number, :input_html => { :value => @report.project_identifier_number }
        = f.input :wdid_number, :input_html => { :value => @report.wdid_number }
        = f.input :status, :input_html => { :value => @report.status }

      %fieldset#submittal_information
        %legend Submittal Information
        = f.input :submitted_by_contractor, :input_html => { :value => @report.submitted_by_contractor }
        = f.input :submitted_by_date, :input_html => { :value => @report.submitted_by_date }

      %fieldset#wpc_information
        %legend WPC Information
        = f.input :wpc_manager, :input_html => { :value => @report.wpc_manager }
        = f.input :wpc_phone, :input_html => { :value => @report.wpc_phone }
        = f.input :wpc_emergency_phone, :input_html => { :value => @report.wpc_emergency_phone }

      %fieldset#insepctor_name
        %legend Inspector Name
        = f.input :inspector_name, :input_html => { :value => @report.inspector_name }
        = f.input :inspection_date, :input_html => { :value => @report.inspection_date }

      %fieldset#site_area
        %legend Site Area
        = f.input :total_area, :input_html => { :value => @report.total_area }
        = f.input :total_DSA, :input_html => { :value => @report.total_DSA }
        = f.input :current_DSA, :input_html => { :value => @report.current_DSA }
        = f.input :inactive_DSA, :input_html => { :value => @report.inactive_DSA }

      %fieldset#inspection_type
        %legend Inspection Type
        = f.input :inspection_type, :input_html => { :value => @report.inspection_type }

      %fieldset#storm_information
        %legend Storm Information
        = f.input :time_elapsed_last_storm, :input_html => { :value => @report.time_elapsed_last_storm }
        = f.input :precipitation_received, :input_html => { :value => @report.precipitation_received }
        = f.input :time_storm_expected, :input_html => { :value => @report.time_storm_expected }
        = f.input :expected_precipitation_amount, :input_html => { :value => @report.expected_precipitation_amount }    
        = f.input :time_elapsed_during_storm, :input_html => { :value => @report.time_elapsed_during_storm }        
        = f.input :gauge_reading_during_storm, :input_html => { :value => @report.gauge_reading_during_storm }
        = f.input :time_elapsed_post_storm, :input_html => { :value => @report.time_elapsed_post_storm }
        = f.input :gauge_reading_post_storm, :input_html => { :value => @report.gauge_reading_post_storm }

      .actions
        = f.submit "Save Report", :class => "btn btn-primary"
