.row
  .span12
    %h2 Edit Report
    = simple_nested_form_for @report do |f|
      %fieldset#site_information
        %legend Site Information
        = f.input :site_information_name, :input_html => { :value => @report.site.name }
        = f.input :site_address_1, :input_html => { :value => @report.site.address_1 }
        = f.input :site_address_2, :input_html => { :value => @report.site.address_2 }
        = f.input :site_city, :input_html => { :value => @report.site.city }
        = f.input :site_state, :input_html => { :value => @report.site.state }
        = f.input :site_zipcode, :input_html => { :value => @report.site.zipcode }
      %fieldset#company_information
        %legend Company Information
        = f.input :contractor_name, :input_html => { :value => current_user.contractor_name }
        = f.input :contractor_address_1, :input_html => { :value => current_user.contractor_address_1 }
        = f.input :contractor_address_2, :input_html => { :value => current_user.contractor_address_2 }
        = f.input :contractor_city, :input_html => { :value => current_user.contractor_city }
        = f.input :contactor_state, :input_html => { :value => current_user.contractor_state }
        = f.input :contactor_zipcode, :as => :string, :input_html => { :value => current_user.contractor_zipcode }
      %fieldset#company_information
        %legend Contract Data
        = f.input :contract_number, :input_html => { :value => @report.site.contract_number }
        = f.input :project_identifier_number, :input_html => { :value => @report.site.project_identifier_number }
        = f.input :wdid_number, :input_html => { :value => @report.site.wdid_number }
        = f.input :status, :input_html => { :value => @report.site.project_wdid_number }


      .actions
        = f.submit "Save Report", :class => "btn btn-primary"
