!!!
%html
  %head
    %title StormSavvy
    = stylesheet_link_tag :application
    = javascript_include_tag 'http://w.sharethis.com/button/buttons.js', :application
    = render 'shared/google_analytics'
    %meta{:charset => "utf-8"}
    = csrf_meta_tag

  %body{ template_id, template_class }
    = render 'layouts/header'
    .bottom-10
    = render :partial => "pages/hero" if is_public_home?
    .container
      = yield

    = render 'layouts/footer'
