!!!
%html
  %head
    %title #{title}
    %link{:href => "https://plus.google.com/100567972543112604606", :rel => "publisher"}/
    = stylesheet_link_tag :application
    = javascript_include_tag 'http://w.sharethis.com/button/buttons.js', :application
    = render 'shared/google_analytics'
    %meta{:charset => "utf-8"}
    = csrf_meta_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

  %body{ template_id, template_class }
    /= render :partial => "shared/flash_messages", :locals => {:flash => flash}
    /- if user_signed_in?
    = render 'layouts/header'

    .leaderboard
      = render :partial => "pages/hero" if is_public_home?
      .container
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
        = yield

    - if user_signed_in?
      .footer
        = render 'layouts/footer'

    = render 'layouts/olark'
